* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

.header_section_1 {
    background-color: crimson;
    position: relative;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img1.jpg);
}

.header_section_3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.header_section_3 .partition_1 .partion_1_head {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_container .logo {
    height: 70px;
    width: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(logo.png);
}

nav {
    transform: translateX(-50px);
    border-bottom: 2px solid crimson;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #333;
    font-family: sans-serif;
    transition: all .3s ease;
}

nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

.welcome_message {
    font-size: 10rem;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-family: sans-serif;
    transform: translate(5%, 60%);
    transition: .3s ease;
    cursor: pointer;
    display: inline-block;
}

.welcome_message:hover {
    color: rgba(255, 255, 255, 0.8);
    -webkit-text-stroke: 0px;
}

.partition_2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart_container {
    position: relative;
    height: 90%;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cart {
    position: relative;
    display: grid;
    grid-template-rows: 3fr 1fr;
    border: 1px solid lightgray;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    transition: all .5s ease;
}

.cart:hover {
    transform: translateY(-10px);
}

.cart .img_container {
    border-radius: 10px;
}

.img_1 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img2.jpg);
}

.img_2 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img3.jpg);
}

.img_3 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(img4.jpg);
}